<header class="site-header py1 px-responsive">
  <div class="wrap">
    <div class="measure">
      <a href="{{ site.baseurl }}/" class="site-title" alt="$_">
        <img src="/images/logo.svg" class="site-logo">
        {{ site.title }}
      </a>
      {% if site.show_navigation %}
        <nav class="site-nav right">
          {% include navigation.html %}
        </nav>
      {% endif %}
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
